# REMARK: in common-requirements.txt the dependencies for fastapi and starlette are
# commented out because a specific version of starlette is needed and this version would
# lead to conflicts with the specified fastapi version.
-r common-requirements.txt
alembic==1.7.1
docker==5.0.0
graphene==2.1.9
graphene_sqlalchemy==2.3.0
graphql-core==2.3.2
openpyxl==3.0.10
pyjwt==2.4.0
spacy==3.4.2
starlette==0.14.1
