# REMARK: in common-requirements.txt the dependencies for fastapi and starlette are
# commented out because a specific version of starlette is needed and this version would
# lead to conflicts with the specified fastapi version.
-r common-requirements.txt
alembic==1.7.1
docker==5.0.0
openpyxl==3.0.10
pyjwt==2.4.0
spacy[ja]==3.7.5
pyminizip==0.2.6
rncryptor==3.3.0
pydantic==2.7.4